<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"
  xmlns:c="http://www.springframework.org/schema/c"
  xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 <bean class="com.skyline.constructorInjection.Certi" name="certi"  c:name="java enterprise"/>
 
 <bean class="com.skyline.constructorInjection.Person" name="person1">
 <constructor-arg>
 <value>Shiva</value>
 </constructor-arg>
 <constructor-arg value="453" type="int"/>
 <constructor-arg ref="certi"/>
 <constructor-arg>
 <list>
 <value>Male</value>
 <value>25</value>
 <value>IPS</value>
 </list>
 </constructor-arg>
 </bean>

</beans>