<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"
  xmlns:c="http://www.springframework.org/schema/c"
  xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 <context:annotation-config/>
 <!-- Make name same as instance variable of Emp Address -->
  <bean class="com.skyline.autowire.annotation.Address" name="address" 
 p:street="NH12" p:city="lucknow"/>
 
   <bean class="com.skyline.autowire.annotation.Address" name="address2" 
 p:street="NH15" p:city="ballia"/> 
 
 <!-- Use Autowiring byName -->
 <!--  <bean class="com.skyline.autowire.Emp" name="emp" autowire="byName"/>-->
 
 <!-- Use byType -->
 <!--   <bean class="com.skyline.autowire.Emp" name="emp" autowire="byType"/> -->
 
 <!-- Constructor -->
  <bean class="com.skyline.autowire.annotation.Emp" name="emp" />
</beans>